td_lshift: tap_dance_lshift {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_LSHIFT";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
};

td_rshift: tap_dance_rshift {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_RSHIFT";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&kp RIGHT_SHIFT>, <&kp CAPS>;
};

td_ralt: tap_dance_ralt {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_RALT";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LALT>, <&tog 2>;
};

td_lefthome: tap_dance_lefthome {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_LEFTHOME";
    #binding-cells = <0>;
    tapping-term-ms = <180>;
    bindings = <&kp LEFT>, <&mt HOME LEFT>;
};

td_rightend: tap_dance_rightend {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_RIGHTEND";
    #binding-cells = <0>;
    tapping-term-ms = <180>;
    bindings = <&kp RIGHT>, <&mt END RIGHT>;
};

td_uppgup: tap_dance_uppgup {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_UPPGUP";
    #binding-cells = <0>;
    tapping-term-ms = <180>;
    bindings = <&kp UP>, <&kp PG_UP UP>;
};

td_downpgdn: tap_dance_downpgdn {
    compatible = "zmk,behavior-tap-dance";
    label = "TAP_DANCE_DOWNPGDN";
    #binding-cells = <0>;
    tapping-term-ms = <180>;
    bindings = <&kp DOWN>, <&kp PG_DN DOWN>;
};
